<div *ngIf="listing">
  <a [routerLink]="['/listings']">Go Back</a>
  <br>
  <h2 class="page-header">{{listing.title}} <small>{{listing.city}}</small></h2>
  <div class="row">
    <div class="col-md-4">
      <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
    </div>
    <div class="col-md-8">
      <ul class="list-group">

        <!--List out the Title-->
        <li class="list-group-item">
          Title: {{listing.title}}</li>

          <!--List out the Description-->
        <li class="list-group-item">
          Description: {{listing.description}}
          
          </li>
        
      </ul>
    </div>
    <a class="btn btn-default" href="#">Edit</a>
    <a class="btn btn-danger" href="#">Delete</a>
  </div>
</div>


