<section id="faq">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Instant Lookup of FAQ’s (Frequently Asked Questions)
       using a Quickapp.</h1>

       <img class="frequently-img" src="https://firebasestorage.googleapis.com/v0/b/quickappswebsite.appspot.com/o/listingimages%2Foptimize.jpg?alt=media&token=b30944ba-23a0-4bbf-9183-d17334bb52c0" alt="frequently-questions"/>

       <p>As a business person you need to get the complete story about your online∙offline∙mobile business 24/7...</p>


<!--accordian-->

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
       Tap Here for  the answer</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">You need to do a survey, consider and ask the following questions: What is your marketing plan?<br> Who do you know to carry out your plan? How can you strategize what is necessary to perform your plan? Where is your target market? Why is there a market for your products and service? Who are your customers and when does your business need to build this marketing business opportunity?

Ask questions, build your answers, 
use Quickapps 
To put your business in your customers pocket 24/7...</div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        What</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">

    What Is A Quickapp?
  What Is The Quick Web Tool?
What are Quick Graphics Tools?
What Is Quick Shop?
What is Quick CMS?
What type of small business needs mobile apps incorporated into their day to day business?
What happens when customers interact with photos using an Estate Agent mobile website with a downloadable App?
What are the Special Features required in a mobile App for professionals?
What are the benefits of having a fast loading own branded Website? 

What's Your Story?

What are the benefits of having a fast loading own branded Website?

What exactly does a branded App display?



      </div>
    </div>
  </div>




  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Why</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Why?
     Why use Landing Pages?
<br>
Why Make Stories About Your Business?
<br>
Why Your Business Needs Smart Commerce?


</div>
    </div>
  </div>


 <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Did You Know</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">


Did you know? Doctors, Solicitors, or Accountants using smart marketing through a mobile App can create better engagements with patients  or clients. 
<br>
Did you know? People are searching, constantly for a business like yours on their smartphones?
<br>
Did you know? Searching for your website with a downloadable App is fast from any search engine.
<br>
	Did you know? By using a mobile App  your business can build a valuable business opportunity?
<br>
Did you know? Android or I Phone versions of your branded App install, fast on the Quickapps platform by opting-in?
<br>
Did you know? Using Quickshop provides a way to increase your sales to today


</div>
    </div>
  </div>




  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Where?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">


Where will using a branded mobile app take your business?


</div>
    </div>
  </div>





   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
        When?</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">


When do your customers opt – in to download your app?

When are customers interested in receiving your messages and how will they behave?


</div>
    </div>
  </div>



   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
        How?</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">


How your customer can Snap your App?

How To use A QR Code?

How To Download A Branded App On Google?

How to Google your website and App?

How To Make Stories About Your Business?

How do you manage the marketing within your business while you are searching for opportunity and looking for answers?

How a bar or nightclub can build their brand?<br> <br>

How to encourage conversation about your business using a mobile App?

How a mobile App integrates with Social Media?

How does the Calender work on a mobile App for a bar or club?
<br><br>

How an Estate Agent can save on expensive printing costs using a mobile website with a downloadable App?

How can a professional can save on expensive printing costs using a mobile App?

How Quickapps Works for small business, increaseing your bottom line?

How to reduce costs and increase sales using your own branded App?<br> <br>

How, can you be different  by building trust in a single button using your own branded App?
How do your customers manage to download your  branded App onto a smartphone?

How do your customers manage to download your branded App?

How to unlock your business potential using your own branded App?

How to have a busy coffee shop business mid-week?

How to become innovative in your business using a branded mobile App?

How customers can download your mobile App in a few easy steps?

How to use a marketing piece as a call to action to download your App?

How your website displays on a customer’s smartphone?

How to use a Mobile App Quickapps with the Quickshop Tool?

How to entice cost conscious consumers to do business with you using an branded mobile App with Coupons?

How can your business improve customer engagement through an App using Live Chat?

How to use Mobile Marketing  through your own branded App to deliver an exciting marketing?

How to put the buzz in your business?

How to using be creative your own branded App?<br> <br>

How do you promote your idea In cost saving and attractive way ?

How to use your personalized deal to build engagement?

How Do Users Read Your Branded App Notifications And Messages?

How do you promote your idea In cost saving and attractive way ?

How Do Users Read Your Notifications And Messages?

How do your customers manage to download your branded App?

How to solve  small business marketing problems

How does having your own Tv channel build your business profile in your community?

How does increasing the visibility of your Brand by blending your online and offline marketing work?

How will using a Unique Url make your marketing more personable to those who read it?

How to keep customer feeling special with online and offline shopping?

How Business People can stand out from the competition?

How Test The Tabs In A  Quickapp? 
<br> <br>

<strong class="email-faq">Please click through the questions listed above and you will be brought to the relevant Quickapp  web page  with a detailed description or ring – email our helpdesk to help you with your inquiry.
<br>Ring 089-9557772 or email quickmarketing@gmail.com</strong>



</div>
    </div>
  </div>








</div>
	

</div>

  </div>
</div>
</section>