<nav class="navbar navbar-inverse">
    
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    <a class="navbar-brand" href="#"><img class="nav-logo" src="https://quickappswebsite.firebaseapp.com/assets/images/logo.png"/></a>
        </div><!--navbar header-->


<div id="navbar" class="collapse navbar-collapse">

          <!--moves navbar to left-->
          <ul class="nav navbar-nav navbar-left">
           <li *ngIf="!(af.auth |async)"><a [routerLink]="['/']">Intro</a></li>
           <li *ngIf="!(af.auth |async)"><a [routerLink]="['app-about']">Tell Your Story</a></li>

          <!--dropdown menu Opportunity Tips-->
          <li *ngIf="!(af.auth |async)" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opportunity Tips <span class="caret"></span></a>
              
              <ul class="dropdown-menu">
                <li><a [routerLink]="['app-tips']">Tips</a></li>
                <li><a [routerLink]="['app-business']">Business</a></li>
                <li><a [routerLink] ="['app-videos']">Videos</a></li>
                
                
                <!--<li role="separator" class="divider"></li>
                <li class="dropdown-header"></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>-->
              </ul>


              <!--dropdown menu Tools-->
          <li *ngIf="!(af.auth |async)" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['app-quickweb']">Quickweb</a></li>
                <li><a [routerLink]="['app-quickgraphics']">Quickgraphics</a></li>
                <li><a [routerLink]="['app-quickshop']">Quickshop</a></li>
                <li><a [routerLink]="['app-cms']">Cms</a></li>

                
            </ul>

                     <li *ngIf="!(af.auth |async)"><a [routerLink]="['app-faq']">Faq</a></li>
             <!-- Dropdown-->


             <!--dropdown menu Opportunity Tips-->
          <li *ngIf="!(af.auth |async)" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mobile Marketing <span class="caret"></span></a>
              
              <ul class="dropdown-menu">
                   <li *ngIf="!(af.auth |async)"><a [routerLink]="['/app-online']">Business Potential</a></li>
                <li><a [routerLink]="['app-branded-app']">Your Branded App</a></li>
                <li><a [routerLink]="['app-mobile-marketing']">Using Mobile Marketing</a></li>
                

                </ul>


               <li><a [routerLink] ="['app-smallbusiness']">Small Business</a></li>
                <li *ngIf="!(af.auth |async)"><a [routerLink]="['app-contact']">Contact Us</a></li>

           
           
           
           <!--backend links-->


<li *ngIf="(af.auth |async)" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Pages <span class="caret"></span></a>
              
              <ul class="dropdown-menu">
                <!--backend pages-->
                  <li *ngIf="(af.auth |async)"><a [routerLink]="['/listings']"> Listings</a></li>
          
           <li *ngIf="(af.auth |async)"><a [routerLink]="['/add-listing']">Add Home Page</a></li>
           <li *ngIf="(af.auth |async)"><a [routerLink]="['/app-about-listing']">Add About Page</a></li>
           <li *ngIf="(af.auth |async)"><a [routerLink]="['/app-add-tips']">Add Tips Page</a></li>
            <li *ngIf="(af.auth |async)"><a [routerLink]="['/app-add-business']">Add Business Page</a></li>
            <li *ngIf="(af.auth |async)"><a [routerLink]="['/app-add-online']"> Add Business Potential</a></li>
            <li *ngIf="(af.auth |async)"><a [routerLink]="['/add-branded-app']">Add Branded App</a></li>
             <li *ngIf="(af.auth |async)"><a [routerLink]="['/app-add-mobile-marketing']">Add Mobile Marketing</a></li>
              <li *ngIf="(af.auth |async)"><a [routerLink]="['/app-add-smallbusiness']"> Add Small Business</a></li>

 

                </ul>





</ul>

           
           
          
          

        <!--move login right-->
          <ul class="nav navbar-nav navbar-right">
            <!--hide if logged in-->
            <!--disable Login-->
       <li id="mylogin" *ngIf="!(af.auth |async)"><a (click)="login()">Login</a></li>
        
        <!--show if logged out-->
        <li *ngIf="(af.auth |async)"><a (click)="logout()">Logout</a></li>
</ul>
</div><!--/.nav-collapse -->
      
      
      


    </nav><!--navbar-->
