
<!--=============================================================================
//MAIN SLIDER
=============================================================================-->



<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  
  </ol>

 <!--=============================================================================
//Quickgraphics Main slider
=============================================================================-->
  <div class="carousel-inner" role="listbox">
    
    
    <div class="carousel-item active">
  
  
      </div>

    
     



  <!-- Controls -->
  
   
   <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 




<!--
********************************************************************
* Engages Section
********************************************************************
--> 
<section id ="engages">
    <div class="container">
    <div class="row ">
    <div class="col-md-12">  
<h2>Video engages the mind uniqually in a way text and images aren't able to do...</h2>

</div>
    </div>
    </div>
</section>



<!--
********************************************************************
* Business Banner Section
********************************************************************
--> 
<section id ="keeps-business-banner">
    <div class="container">
    <div class="row ">
    <div class="col-md-12">  
<img class="keeps-business" src="assets/images/keeps-business.jpg"/>

</div>








 
</div>
</div>
</section>


 <!--
********************************************************************
* QuickWeb Video
********************************************************************
--> 
   

   <section id="video-quickgraphics">
                    <div class="container">
                        <div class="row">
                <div class="col-md-12 videoquickgraphics  ">
             
                <div class="wow zoomIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 3s; animation-delay: 0s; animation-name: zoomIn;">
                    
				<!--<iframe src="https://player.vimeo.com/video/182987011" width="640" height="360"
                   poster="http://www.quickapps.ie/make/images/video-poster.jpg" controls=""
                      
                        
                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
<video width="80%" height="100%" poster="http://www.quickapps.ie/make/images/video-poster-g.jpg" controls="">
                                <source src="https://s3-eu-west-1.amazonaws.com/quickapps/quickgraphics+final.mp4" type="video/mp4">
                               

</video>

                    
                </div>          
        </div>
                
                
                </div><!--row-->
                
                
                </div>
                </section>

<!--
********************************************************************
* Engages Section
********************************************************************
--> 
<section id ="engages">
    <div class="container">
    <div class="row ">
    <div class="col-md-12 text-center">  
<h2>Seeing is Believing</h2>
<p class="lead">Quickgraphics is the use of video to promote an idea,brand or offering</p>

</div>
    </div>
    </div>
</section>



 <!--
********************************************************************
* Parrallax Image Splash
********************************************************************
--> 

<section class="quickgraphics-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>


      <!--
********************************************************************
* Engages Section
********************************************************************
--> 
<section id ="engages">
    <div class="container">
    <div class="row ">
    <div class="col-md-12 text-center">  
<h2>Video</h2>
<p class="lead">Video is a great way to explain your business to potential customers.<br> As the customer is always thinking What’s in it for me...
Customer associate with your business name understand what you do,<br> trust you and think of you when they want your service.</p>
</div>
    </div>
    </div>
</section>



 <!--
********************************************************************
* Parrallax Image Splash
********************************************************************
--> 

<section class="video-phone-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>













      <!--
********************************************************************
* Engages Section
********************************************************************
--> 
<section id ="remember">
    <div class="container">
    <div class="row ">
    <div class="col-md-12 text-center">  
<h2>Video Marketing</h2>
<h2> People Recall</h2>
<h3>What They</h3>
</div>

<div class="col-md-12 remember-bottom">

<div class="col-md-4 text-center">
 <h2 class="red">20%</h2>
  <img class="speaker-icon" src="assets/images/speaker.png"/>
 <h3 class="title">Hear</h3>
</div>


<div class="col-md-4 text-center">
  <h2 class="red">30%</h2>
 <img class="speaker-icon" src="assets/images/eye.png"/>
<h3 class="title"> See</h3>
</div>





<div class="col-md-4 text-center">


<h2 class="red">70%</h2>
 <img class="speaker-icon" src="assets/images/eye.png"/> <span class="plus">+</span><img class="speaker-icon" src="assets/images/speaker.png"/>
<h3 class="title"> Hear & See</h3>




</div>








</div>
    </div>
    </div>
</section>



 <!--
********************************************************************
* Parrallax Video Marketing
********************************************************************
--> 

<section class="video-marketing-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>




         <!--
********************************************************************
* Everyday Section
********************************************************************
--> 
<section id ="engages">
    <div class="container">
    <div class="row ">
    <div class="col-md-12 text-center">  
<h2>Video puts the buzz into your business</h2>
<p class="lead">Everyday people are searching for a business like yours 
on their smartphones, they want to learn, be inspired
 and entertained about your products and service.</p>
</div>
    </div>
    </div>
</section>



<!--
********************************************************************
* Parrallax Video Consumer
********************************************************************
--> 

<section class="consumer-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>
      
      
      
         <!--
********************************************************************
* Everyday Section
********************************************************************
--> 
<section id ="engages">
    <div class="container">
    <div class="row ">
    <div class="col-md-12 text-center">  
<h2>By Rembering Its Not All About You, <br>It’s About The Customer</h2>
<p class="lead">
What’s in it for them... That’s your video marketing strategy make video’s about your customers needs and capture their imagination.</p>
</div>
    </div>
    </div>
</section>
      
      
    <!--
********************************************************************
* Parrallax Video Consumer
********************************************************************
--> 

<section class="remember-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section>  



     <!--
********************************************************************
* Video is Emotional
********************************************************************
--> 
<section id ="engages">
    <div class="container">
    <div class="row ">
    <div class="col-md-12 text-center">  
<h2>Video is Emotional</h2>
<p class="lead">
Why use video to promote an idea brand or offering because the  video is emotional a business owner can appeal right to the viewer by establishing a human connection. <br>Your products can be showcased through how  to use your products or service, including customer testimonials or showing video’s of events you have participated in the list goes on.</p>
</div>
    </div>
    </div>
</section>




  <!--
********************************************************************
* Parrallax Video Consumer
********************************************************************
--> 

<section class="youtube-bg">
<div class="container">
<div class="row">
  

     
     
     
      </div>
      </div>
      </section> 















   

      
      
      
      
      
      
      
      
  