

     <!--
********************************************************************
* White Section
********************************************************************
--> 

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  
  </ol>

 <!--=============================================================================
//MAIN SLIDER
=============================================================================-->
  <div class="carousel-inner" role="listbox">
    
    
    <div class="carousel-item active">
  
  
      </div>

    
      <!-- Controls -->
  
   
   <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>







   <!--
********************************************************************
* Cms Section
********************************************************************
--> 

<section id="cms">
    <div class="container">
<div class="row text-center ">

<div class="col-md-12-col-lg-12 ">
    <h2>Content Management System</h2>
    
    </div><!--col-lg-12-->

<p class="lead">Our customers can go to the Quickapps (CMS) Content Management System and login,<br> add or delete its content as required.</p>





</div>

    </div>
</section>




<section class="cmsbg">
<div class="container">
<div class="row">
    <div class="col-md-6 ">
 

      <div class="col-md-12">
      
      </div>

      
    </div>
</div>
</div>
</section>




<!--
********************************************************************
* simple-insert Section
********************************************************************
--> 

<section class="simpleinsert">
<div class="container">
<div class="row">
    <div class="col-md-6 ">
 

      <div class="col-md-12">
      
      </div>

      
    </div>
</div>
</div>
</section>




<section id="simple">
    <div class="container">
<div class="row text-center ">

<div class="col-md-12-col-lg-12 ">
    
    
    </div><!--col-lg-12-->

<p class="lead">Your business can simply insert, text, or manage orders easily our users' friendly self managed content system is a web – based publishing format management, history editing and version control, indexing, search and retrieval system.</p>





</div>

    </div>
</section>



<!--
********************************************************************
* simple-insert Section
********************************************************************
--> 

<section class="simpleinsert">
<div class="container">
<div class="row">
    <div class="col-md-6 ">
 

      <div class="col-md-12">
      
      </div>

      
    </div>
</div>
</div>
</section>










