
/*************************************************
h2 = 50px
p=16px


***************************************************/


/*Cms Slider Css*/

/*Background-slider image1 Full*/
.carousel-item.active{
height: 100vh;
background:url('./assets/images/content-managment.jpg');
background-repeat:no-repeat;
height: 100vh;
background-size: cover;
background-position:center center;

    }

/*Cms Section*/
section#cms{
padding-top:90px;
padding-bottom:90px;


}

section#cms h2{
text-align:center;
font-size:50px;
font-family: 'Varela Round', sans-serif!important;
color:black;
padding-bottom:10px;

}

section#cms p{

text-align:center;


}


section.cmsbg{
height: 100vh;
background:url('./assets/images/aboutbg.jpg');
background-repeat:no-repeat;

 background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-position:center center;


}

/*no carousel indicators*/
ol.carousel-indicators {
    display: none;
}


/*simple insert section*/


section#simple{

   padding-top:90px;
   padding-bottom:90px; 
}


section.simpleinsert{
height: 100vh;
background:url('./assets/images/bg6.jpg');
background-repeat:no-repeat;

 background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-position:center center;


}


section.simpleinsert p{

text-align:center;

}