

/*Add Branding Backend*/

section.add-branding{
margin-top:-20px;
  background-color:black;
}

/*BackButton*/
.back-btn {
    
   margin-top:50px;
}


a.back{



}



/*Page Header*/

h2.page-header{

    margin-top:-50px;
}



/*Form Container*/

form.ng-untouched.ng-pristine.ng-invalid {
    margin-top: 30px;
}


input,textarea {
    color: black!important;
}



input.btn.btn-primary{
color:white!important;
}