
<section id="online">


 
<img class="quickstore" src="https://firebasestorage.googleapis.com/v0/b/quickappswebsite.appspot.com/o/quickstore.jpg?alt=media&token=3fa3987b-5ac8-4eab-b67b-06f2d2687680" alt="quickstore"/>
</section>


<section class="online-content">
<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h2>Instore ∙ Online∙ Mobile </h2>
<h3>Have you downloaded our app yet?<br>
We have a business <span class="red">solutions for you...</span></h3>
 
    </div>
  </div>
</div>


  </section>






  <!--
********************************************************************
* Content Area Posts
********************************************************************
--> 



<section id="content" data-type="background" data-speed="5">
  <!--we get data from our listings node this.onlines.push(onlines);-->
  <div *ngFor="let ons of onlines" class="row">

<div class="col-md-12 padding-content">

  <!--image online-->
<img class="online-thumb" style="width:100%"   [src]="ons.imageUrl"/>


<!--loop throught the listings node-->
 <!--title-->
<h2>{{ons.title}}</h2><br>
<!--description-->
<p ng-bind-html="description" class="lead">{{ons.description}}</p>







</div>
</div>

</section><!--content-->


<section id="download">

  <div class="container">

    <div class="row">
      <div class="col-md-5">
<h2>Download Our App
Show Our App 
Installed
On Your Smartphone
We Will Pour You
A FREE COFFEE</h2>
      </div>

      <div class="col-md-7">
<img class="coffee" src="https://firebasestorage.googleapis.com/v0/b/quickappswebsite.appspot.com/o/listingimages%2Fcoffee-cup.jpg?alt=media&token=3eba82f8-100e-4caf-aec5-f272e889b28f" alt="quickstore"/>

      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-md-12 text-center">
<h3>Invite your customers to download your app and reward them doing it. </h3>

      <p>This can be achieved quite easily by placing a marketing piece on your coffee shop’s tables on a busy Friday inviting your customers to download your App and enjoy a free coffee compliments of your coffee shop as a reward for installing your new App on their smartphone.</p>
    </div>
  </div>


  </section>



  <section id="girls-talking">
<img class="busy-friday" src="https://firebasestorage.googleapis.com/v0/b/quickappswebsite.appspot.com/o/listingimages%2Fbusy-friday.jpg?alt=media&token=2a75d5a4-d3c0-424d-ad98-e5a7003de66c" alt="busy-friday"/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<h2>How to get people to download your business app?</h2>
<p>Use innovative ways to attract people’s attention by getting customers to download and install your mobile app.like Use a marketing piece as a call to action...</p>

<button class="btn btn-warning">Download our app</button>

    </div>
  </div>
</div>

</section>







<section id="install">

<img src=""/>
<h2>How to install your branded app from your website?</h2>

<p>Step3 : Your new coffee shop App website is now exhibiting on your customer smart phone as the front page of your website.
</p>

  </section>











<section class="online-footer">


<h4>Your customer is invited to download your App they have a choice depending on what device they are using Androids download Google play, I Phone download the App Store version.</h4>


<div class="container">

  <div class="row">

<div class="col-md-6">
<img class="apple-btn" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/1280px-Download_on_the_App_Store_Badge.svg.png"/>

</div>


    <div class="col-md-6">

<img class="google-btn" src="http://www.xpressga.com/wp-content/uploads/2016/05/google-app-store.png"/>


    </div>


<h2>Did you know: Android or I Phone versions of your branded app install, fast on the Quickapps platform by opting-in?</h2>

<p>The customer simply chooses which version they require and presses, install once the software installs they are asked  to opt-in (choose to participate in something) "the database would not include a person's name unless he opted in". The customer press agrees and the App installs in 3 seconds it that easy and the marketing benefited by your company’s app are immense by building a rich customer experience with your clients. </p>


<p>Downloading your coffee shops App is a very straightforward procedure and can be achived through a few simple steps.</p>
  </div>
</div>

  </section>









 







