

<!--Videos bg-->
<section id="video-bg">
<div class="container">
    <div class="row">
       
<div class="col-md-12">

<!--Video feature goes here-->
<iframe src="https://player.vimeo.com/video/182987011" 
                   poster="http://www.quickapps.ie/make/images/video-poster.jpg" width="100%" height="600" controls="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


</div>
    </div>
</div>


</section>



<!--Video heading-->
<section class="Video-heading">

<div class="container">
   <div class="row">

<div class="col-md-12">

<h2>Watch Our Latest Videos</h2>



</div>


   </div>
</div>


</section>



